* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;

}
p { 
    padding: 10px 15px;
}


.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.text-primary {
    color: #110b05;
}
.btn {
    display:inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #f7c08a;
    color: #333;
}

.btn-light {
    background: #f4f4f4;
    color: #333;

}

#navbar {
    background-color: #333;
    color: white;
    overflow: auto;
}

#navbar a {
    color: white;
}

#navbar h1 {
    float: left;
    padding-top: 20px;

}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display:block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover, 
#navbar ul li a.current {
    background-color: #817255;
    color: #070503;
}

#contact-us .form-group {
    margin-bottom: 20px;
}
#contact-us label {
    display: block;
    margin-bottom: 5px;
}

#contact-us input {
    width: 25%;
    padding: 10px;
    border: 1px #333 solid;
}

#contact-us textarea {
    width: 45%;
    padding: 50px;
    border: 1px #333 solid;
    height: 200 px;
}

section {
    background-color:bisque;
    color:#333;
    text-align: center;
}

